/* styles.css */

/* Hintergrundfarbe */
body {
    background-color: #f8f9fa;
}

/* Textfarbe und Schrift */
h1 {
    color: #343a40;
}

p.lead {
    color: #6c757d;
}

/* Button Anpassung */
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}
